<mat-nav-list>
    <mat-list-item routerLink="#">
        <div style="display: inline-flex;">
            <mat-icon>dashboard</mat-icon><span>Dashboard</span>
        </div>
    </mat-list-item>
    <mat-list-item routerLink="">
        <div style="display: inline-flex;">
            <mat-icon>payments</mat-icon><span>Global Rates</span>
        </div>
    </mat-list-item>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <div style="display: inline-flex;">
                <mat-icon>ssid_chart</mat-icon><span>Rates</span>
            </div>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="euribor">
                <div style="display: inline-flex;">
                    <mat-icon>euro</mat-icon><span>Euribor</span>
                </div>
            </a>
            <a mat-list-item routerLink="libor">
                <div style="display: inline-flex;">
                    <mat-icon>currency_pound</mat-icon><span>Libor</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-list-item routerLink="inflation">
        <div style="display: inline-flex;">
            <mat-icon>account_balance</mat-icon><span>Inflation</span>
        </div>
    </mat-list-item>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <div style="display: inline-flex;">
                <mat-icon>candlestick_chart</mat-icon><span>Markets</span>
            </div>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="equities">
                <div style="display: inline-flex;">
                    <mat-icon svgIcon="equities"></mat-icon><span>Equities</span>
                </div>
            </a>
            <a mat-list-item routerLink="commodities">
                <div style="display: inline-flex;">
                    <mat-icon svgIcon="commodities"></mat-icon><span>Commodities</span>
                </div>
            </a>
            <a mat-list-item routerLink="index">
                <div style="display: inline-flex;">
                    <mat-icon svgIcon="index"></mat-icon><span>Index</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-nav-list>