<button mat-button class="menu-button" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
</button>
<button mat-button class="menu-button" routerLink="/rates">
    <mat-icon>ssid_chart</mat-icon>
    <span>Rates</span>
</button>
<button mat-button class="menu-button" routerLink="/euribor">
    <mat-icon>euro</mat-icon>
    <span>Euribor</span>
</button>
<button mat-button class="menu-button" routerLink="/libor">
    <mat-icon>currency_pound</mat-icon>
    <span>Libor</span>
</button>
<button mat-button class="menu-button" routerLink="/inflation">
    <mat-icon>account_balance</mat-icon>
    <span>Inflation</span>
</button>
<button mat-button class="menu-button" routerLink="/equities">
    <mat-icon svgIcon="equities"></mat-icon>
    <span>Equities</span>
</button>
<button mat-button class="menu-button" routerLink="/commodities">
    <mat-icon svgIcon="commodities"></mat-icon>
    <span>Commodities</span>
</button>
<button mat-button class="menu-button" routerLink="/indexes">
    <mat-icon svgIcon="index"></mat-icon>
    <span>Indexes</span>
</button>
